@import url('https://fonts.googleapis.com/css?family=Asap&display=swap');

body {
  font-size: 14px;
  font-family: 'Asap', sans-serif;
}

.btn {
  padding-top: .75em;
  padding-bottom: .75em;
  padding-left: 0;
  padding-right: 0;
}

.btn-group-flex {
  display: flex;
}
.btn-group-flex .btn {
  flex-grow: 1;
}
.btn-group-flex .btn:not(:first-child) {
  border-left: none !important;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group-flex .btn:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

a h1 h2 h3 h4 p {
  font-family: 'Asap', sans-serif;
}
